<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Optional -->
  <properties resource="providers.config"/>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!-- Not required if providers.config is located in default location -->
  <!--<providers embedded="resources.providers.config, IBatisNet.Test"/>-->

  <database>
    <provider name="sqlServer2.0"/>
    <!--Windows验证-->
    <!--<dataSource name="PageO" connectionString="data source=CNPDGWNCATH2FPN\MSSQLSERVER08;database=PriceBook;Integrated Security=True;user id=CNPDGWNCATH2FPN\test;password=;MultipleActiveResultSets=true" />-->
    <!--混合验证-->
    <dataSource name="iBatisNet" connectionString="Data Source=172.16.96.100;Initial Catalog=dbDemo;uid=roche;password=roche;MultipleActiveResultSets=True;" />
  </database>

  <!--<alias>
      <typeAlias alias="Account" type="IBatisNet.Test.Domain.Account, IBatisNet.Test"/>
      <typeAlias alias="YesNoBool"
         type="IBatisNet.Test.Domain.YesNoBoolTypeHandlerCallback, IBatisNet.Test"/>
    </alias>

    <typeHandlers>
      <typeHandler type="bool" dbType="Varchar" callback="YesNoBool"/>
    </typeHandlers>-->
  <!--<provider resource="providers.config"/>-->

  <sqlMaps>
    <!--<sqlMap embedded="xmlFileName(Maps.***.xml),nameSpace(USInstallationMng.Service)"/>-->
    <sqlMap embedded="Maps.Demo.xml,HospitalReport.DBAccess"/>
  </sqlMaps>
</sqlMapConfig>
